//
   Created by siliconprime on 12/2/14.

section#conversation
  #history
    h2 Conversation with: {{ conv.other }}
    ul
      li(ng-repeat="message in conv.history")
        span.message-sender {{ message.sender }}
        span.message-timestamp {{ message.timestamp | date}}
        | :
        span.message-body {{ message.body }}
        em.message-status(ng-if="message.status") ({{ message.status }})

  #control
    form(name="contentEditor", ng-submit="sendMessage()")
      input(type="text",
      placeholder="type message here and click send ->",
      name="message",
      ng-model="message")
      button Send